In [19]:
#imports
import pandas as pd
import numpy as np
import random
import re
import recordlinkage

# ML imports 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer

# prevent depreciation warnings
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [22]:
# read in our PreMatrix csv from step A
preMatrix = pd.read_csv('PreMatrix.csv').drop(columns=['Unnamed: 0'])
## convert the dates to datetime objects
preMatrix['findings_start_date'] = pd.to_datetime(investigations['findings_start_date'], errors='coerce')
preMatrix['findings_end_date'] = pd.to_datetime(investigations['findings_end_date'], errors = "coerce")
preMatrix.columns
preMatrix.info()
Y = preMatrix.is_violator.copy()

Index(['CASE_NO', 'DECISION_DATE', 'VISA_CLASS', 'CASE_RECEIVED_DATE',
       'CASE_STATUS', 'REQUESTED_START_DATE_OF_NEED',
       'REQUESTED_END_DATE_OF_NEED', 'PRIMARY_SUB', 'EMPLOYER_NAME',
       'TRADE_NAME_DBA', 'EMPLOYER_ADDRESS1', 'EMPLOYER_ADDRESS2',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_POC_EMPLOYER_REP_BY_AGENT', 'LAWFIRM_NAME',
       'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_TITLE', 'PRIMARY_CROP', 'NAICS_CODE',
       'NBR_WORKERS_REQUESTED', 'NBR_WORKERS_CERTIFIED', 'FULL_TIME',
       'NATURE_OF_TEMPORARY_NEED', 'BASIC_NUMBER_OF_HOURS',
       'HOURLY_WORK_SCHEDULE_AM', 'HOURLY_WORK_SCHEDULE_PM',
       'BASIC_RATE_OF_PAY', 'OVERTIME_RATE_FROM', 'OVERTIME_RATE_TO',
       'BASIC_UNIT_OF_PAY', 'SUPERVISE_OTHER_EMP', 'SUPERVISE_HOW_MANY',
       'EDUCATION_LEVEL', 'OTHER_EDU', 'MAJOR', 'SECOND_DIPLOMA',
       'SECOND_DIPLOMA_MAJOR', 'TRAINING_REQ', 'NUM_MONTHS_TRAINING',
       'NAME_REQD_TRAINING', 'EMP_EXPERIENCE_REQD', 'EMP_EXP_NUM_MONTHS',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE',
       'WORKSITE_POSTAL_CODE', 'OTHER_WORKSITE_LOCATION', 'ORGANIZATION_FLAG',
       'SWA_NAME', 'JOB_IDNUMBER', 'JOB_START_DATE', 'JOB_END_DATE', 'status',
       'name', 'is_violator'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7643 entries, 0 to 7642
Data columns (total 65 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   CASE_NO                          7643 non-null   object
 1   DECISION_DATE                    7643 non-null   object
 2   VISA_CLASS                       7643 non-null   object
 3   CASE_RECEIVED_DATE               7643 non-null   object
 4   CASE_STATUS                      7643 non-null   object
 5   REQUESTED_START_DATE_OF_NEED     7640 non-null   object
 6   REQUESTED_END_DATE_OF_NEED       7640 non-null   object
 7   PRIMARY_SUB                      7643 non-null   object
 8   EMPLOYER_NAME                    7643 non-null   object
 9   TRADE_NAME_DBA                   927 non-null    object
 10  EMPLOYER_ADDRESS1                7641 non-null   object
 11  EMPLOYER_ADDRESS2                1754 non-null   object
 12  EMPLOYER_CITY                    7643 non-null   object
 13  EMPLOYER_STATE                   7634 non-null   object
 14  EMPLOYER_POSTAL_CODE             7641 non-null   object
 15  EMPLOYER_COUNTRY                 7643 non-null   object
 16  EMPLOYER_PROVINCE                196 non-null    object
 17  EMPLOYER_PHONE                   7643 non-null   object
 18  EMPLOYER_PHONE_EXT               215 non-null    float64
 19  AGENT_POC_EMPLOYER_REP_BY_AGENT  7637 non-null   object
 20  LAWFIRM_NAME                     6041 non-null   object
 21  AGENT_ATTORNEY_NAME              6043 non-null   object
 22  AGENT_ATTORNEY_CITY              6043 non-null   object
 23  AGENT_ATTORNEY_STATE             6042 non-null   object
 24  JOB_TITLE                        7643 non-null   object
 25  SOC_CODE                         7643 non-null   object
 26  SOC_TITLE                        7643 non-null   object
 27  PRIMARY_CROP                     7643 non-null   object
 28  NAICS_CODE                       6414 non-null   float64
 29  NBR_WORKERS_REQUESTED            7635 non-null   float64
 30  NBR_WORKERS_CERTIFIED            7635 non-null   float64
 31  FULL_TIME                        7642 non-null   object
 32  NATURE_OF_TEMPORARY_NEED         7643 non-null   object
 33  BASIC_NUMBER_OF_HOURS            7556 non-null   float64
 34  HOURLY_WORK_SCHEDULE_AM          7637 non-null   object
 35  HOURLY_WORK_SCHEDULE_PM          7637 non-null   object
 36  BASIC_RATE_OF_PAY                7643 non-null   float64
 37  OVERTIME_RATE_FROM               203 non-null    float64
 38  OVERTIME_RATE_TO                 106 non-null    float64
 39  BASIC_UNIT_OF_PAY                7643 non-null   object
 40  SUPERVISE_OTHER_EMP              7643 non-null   object
 41  SUPERVISE_HOW_MANY               21 non-null     float64
 42  EDUCATION_LEVEL                  7642 non-null   object
 43  OTHER_EDU                        181 non-null    object
 44  MAJOR                            193 non-null    object
 45  SECOND_DIPLOMA                   7643 non-null   object
 46  SECOND_DIPLOMA_MAJOR             0 non-null      float64
 47  TRAINING_REQ                     7642 non-null   object
 48  NUM_MONTHS_TRAINING              21 non-null     float64
 49  NAME_REQD_TRAINING               13 non-null     object
 50  EMP_EXPERIENCE_REQD              7643 non-null   object
 51  EMP_EXP_NUM_MONTHS               6386 non-null   float64
 52  WORKSITE_CITY                    7643 non-null   object
 53  WORKSITE_COUNTY                  7639 non-null   object
 54  WORKSITE_STATE                   7643 non-null   object
 55  WORKSITE_POSTAL_CODE             7642 non-null   object
 56  OTHER_WORKSITE_LOCATION          7643 non-null   object
 57  ORGANIZATION_FLAG                6442 non-null   object
 58  SWA_NAME                         7638 non-null   object
 59  JOB_IDNUMBER                     7621 non-null   object
 60  JOB_START_DATE                   7557 non-null   object
 61  JOB_END_DATE                     7603 non-null   object
 62  status                           7643 non-null   object
 63  name                             7643 non-null   object
 64  is_violator                      7643 non-null   bool
dtypes: bool(1), float64(12), object(52)
memory usage: 3.7+ MB

In [23]:




transformer = ColumnTransformer(transformers= ['cat'] = OneHotEncoder(), 
                                ['CASE_NO', 'VISA_CLASS',
                                   'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
                                   'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE',
                                   'AGENT_POC_EMPLOYER_REP_BY_AGENT', 'LAWFIRM_NAME',
                                   'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
                                   'JOB_TITLE', 'SOC_CODE', 'SOC_TITLE', 'PRIMARY_CROP', 'NAICS_CODE','FULL_TIME',
                                   'NATURE_OF_TEMPORARY_NEED', 'BASIC_NUMBER_OF_HOURS',
                                   'HOURLY_WORK_SCHEDULE_AM', 'HOURLY_WORK_SCHEDULE_PM',
                                   'BASIC_RATE_OF_PAY', 'OVERTIME_RATE_FROM', 'OVERTIME_RATE_TO',
                                   'BASIC_UNIT_OF_PAY', 'SUPERVISE_OTHER_EMP', 'SUPERVISE_HOW_MANY',
                                   'EDUCATION_LEVEL', 'OTHER_EDU', 'MAJOR', 'SECOND_DIPLOMA',
                                   'SECOND_DIPLOMA_MAJOR', 'TRAINING_REQ', 'NUM_MONTHS_TRAINING',
                                   'NAME_REQD_TRAINING', 'EMP_EXPERIENCE_REQD', 'EMP_EXP_NUM_MONTHS',
                                   'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE',
                                   'WORKSITE_POSTAL_CODE', 'OTHER_WORKSITE_LOCATION', 'ORGANIZATION_FLAG',
                                   'SWA_NAME', 'JOB_IDNUMBER', 'JOB_START_DATE', 'JOB_END_DATE', 'status',
                                   'name', 'is_violator'], remainder='passthrough)

SyntaxError: invalid syntax (<ipython-input-23-d5c8428912b8>, line 1)